<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonationApp">
        
        <!-- Main Activity (User) -->
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:parentActivityName=".view.SplashActivity" />
        
        <!-- Admin Main Activity -->
        <activity
            android:name=".view.AdminMainActivity"
            android:exported="false"
            android:parentActivityName=".view.SplashActivity" />

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DonationApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Activities -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="false"
            android:parentActivityName=".view.SplashActivity" />
        <activity
            android:name=".view.SignupActivity"
            android:exported="false"
            android:parentActivityName=".view.LoginActivity" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".view.LoginActivity" />

        <!-- Campaign Activities -->
        <activity
            android:name=".view.CampaignDetailActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.AddCampaignActivity"
            android:exported="false"
            android:parentActivityName=".view.AdminMainActivity" />
        <activity
            android:name=".view.EditCampaignActivity"
            android:exported="false"
            android:parentActivityName=".view.AdminMainActivity" />

        <!-- Donation Activity -->
        <activity
            android:name=".view.DonateActivity"
            android:exported="false"
            android:parentActivityName=".view.CampaignDetailActivity" />

        <!-- FileProvider for image sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>